.txt-base {
  color: #c5946e;
}

.ff-intelo-semi-b {
  font-family: "intelo-semi-bold";
}
.ff-intelo{
  font-family: intelo;
}
.ff-playfair{
  font-family: playfair-display;
}

.fw-800{
  font-weight: 800;
}
.fw-700 {
  font-weight: 700;
}
.fw-500{
  font-weight: 500;
}
.fw-300{
  font-weight: 300;
}

.fsty-italic{
  font-style: italic;
}

.track-200{
  letter-spacing: 2px;
}


.fs-12{
 font-size: $s-12!important;
}
.fs-13{
 font-size: $s-13!important;
}
.fs-14{
 font-size: $s-14!important;
}
.fs-16{
  font-size: $s-16!important;
}
.fs-20{
  font-size: $s-20!important;
}
.fs-30{
  font-size: $s-30!important;
}

