@font-face{
    font-family: "intelo-semi-bold";
  src: url("/fonts/Intelo/Intelo-SemiBold.ttf");
  font-weight: 500
}
@font-face{
    font-family: "intelo";
  src: url("/fonts/Intelo/Intelo-Regular.ttf");
  font-weight: 300
}
@font-face{
    font-family: "intelo";
  src: url("/fonts/Intelo/Intelo-ExtraBold.ttf");
  font-weight: 800
}
@font-face{
  font-family: "playfair-display";
  src: url("/fonts/Playfair/PlayfairDisplay-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: "playfair-display";
  src: url("/fonts/Playfair/PlayfairDisplay-Regular.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: "playfair-display";
  src: url("/fonts/Playfair/PlayfairDisplay-Italic.otf");
  font-weight: 300;
  font-style: italic;
}
