.lang-arrow{
  background-image: url("~assets/svg/lang-arrow.svg");
  display: inline-block;
  width: 15px;
  height: 15px;
}

.mercado-libre{
  background-image: url("~assets/svg/mercado-libre.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 180px;
  height: 180px;
}

